<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="login-body">

<div class="login-overlay">
    <form class="login-box big-login" method="post">

        <h1>Reset Password</h1>
        <p class="login-sub">Enter your email to reset password</p>

        <input type="email" placeholder="Enter your email" required>

        <button type="submit">Send Reset Link</button>

        <div class="login-links">
            <a href="/">Back to Login</a>
        </div>
    </form>
</div>

</body>
</html>
