<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="login-body">

<div class="login-overlay">
    <form class="login-box big-login" method="post">

        <h1>Create Account</h1>
        <p class="login-sub">Register to continue</p>

        <input type="text" placeholder="Full Name" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>

        <button type="submit">Create Account</button>

        <div class="login-links">
            <a href="/">Back to Login</a>
        </div>
    </form>
</div>

</body>
</html>
